<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #3 - Use the same list display from search.html -->
    <table th:fragment="job-listing" class="job-listing" th:each="job: ${jobs}">

        <tr th:each="entry: ${job}" th:switch="${entry.key}">
            <td th:text="${entry.key}"></td>
            <td th:case="'position type'" th:text="${entry.value}"></td>
            <td th:case="'name'" th:text="${entry.value}"></td>
            <td th:case="'employer'" th:text="${entry.value}"></td>
            <td th:case="'location'" th:text="${entry.value}"></td>
            <td th:case="'core competency'" th:text="${entry.value}"></td>
        </tr>
    </table>
</div>

</body>
</html>